<h1>Digging a hole to...</h1>


<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div id="name"> </div>

<br>
<p id="des">This is the exact opposite side of the Earth from where you are now.</p>
<br>
<p id="hint">(If it's just blue, you're looking at a bunch of ocean. Zoom out!)</p>
